# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vince\OneDrive - Heinrich-Heine-Universitat Dusseldorf\HHU\2020WS\Datenbanken Weiterführung\phase4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
